<p>
  I am angular element :)
</p>


<h1> This is a input title :- {{title}} </h1>


<h1> I am object with code attribute :- {{codeName.code}}</h1>

I have an output. Click and see
<button (click)="showInfo()">Click Me</button>
